.navbar{
    background: linear-gradient(90deg, rgb(7, 11, 200) 0%, rgb(10, 10, 100) 38%, rgb(2, 0, 40) 100%);
}

.bg-ocean{
    background: rgb(1, 1, 51);
}

.sidebar a .drop-a{
    text-decoration: none;
    transition: 1s;
}

.sidebar a:hover, .drop-a:hover{
    margin-left: 10px;
    transition: 1s;
}

.sidebar{
    min-height: 90vh;
}


@media screen and (max-width: 625px)
{
    .sidebar {
        min-height: auto;
    }
}

.text-ocean{
    color: rgb(4, 4, 66);
}

.bb{
    background: rgb(7, 11, 200);
    
}

.sauv, .theadImage{
    background: rgb(7, 11, 200);
}

.theadImage, .lire{
    color: white;
    
}

.barre{
    margin-top: 2%;
    border-radius: 8px;
}

.modifier{
    margin-bottom: 2%;
}